<!DOCTYPE html>

<html>
<head>
    <partial name="~/Views/AdminProducts/_HeadPartial.cshtml" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <partial name="~\Views\Shared\Footer.cshtml" />
    @RenderSection("Scripts", required: false)

</body>
</html>
