@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var isAdmin = User.IsInRole("Admin");
    var isSeller = User.IsInRole("Seller");
    var isCustomer = User.IsInRole("Customer");
}
<!-- Footer Start -->
<div class="container-fluid bg-dark text-light mt-3 pt-3 pb-2">
    <div class="row px-xl-5 pt-5">
        <!-- Logo and Description -->
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="#" class="text-decoration-none">
                <h1 class="mb-4 display-6 font-weight-bold text-white">
                    <span class="text-primary border border-light px-3 mr-2">H</span>irafeyat
                </h1>
            </a>
            <p class="small text-white">
                Herafiyat is an innovative digital platform that enables young men and women to showcase and sell their handmade and homemade products.
            </p>
        </div>

        <!-- Contact Info -->
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="text-white mb-4">Contact Us</h5>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Menofia, Egypt</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Hirafeyat@outlook.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>

        <!-- Quick Links -->
        <div class="col-lg-4 col-md-6 mb-5">
            <h5 class="text-white mb-4">Quick Links</h5>
            <div class="d-flex flex-column">
                @if (isAdmin)
                {
                    <a class="text-primary mb-2" href="/Admin/Dashboard"><i class="fa fa-angle-right mr-2"></i>Admin Dashboard</a>
                    <a class="text-primary mb-2" href="/Admin/Users"><i class="fa fa-angle-right mr-2"></i>Manage Users</a>
                }
                else if (isSeller)
                {
                    <a class="text-primary mb-2" href="/Seller/MyProducts"><i class="fa fa-angle-right mr-2"></i>My Products</a>
                    <a class="text-primary mb-2" href="/Seller/Orders"><i class="fa fa-angle-right mr-2"></i>Customer Orders</a>
                }
                else if (isCustomer)
                {
                    <a class="text-primary mb-2" href="/Shop"><i class="fa fa-angle-right mr-2"></i>Shop</a>
                    <a class="text-primary mb-2" href="/Cart"><i class="fa fa-angle-right mr-2"></i>My Cart</a>
                    <a class="text-primary mb-2" href="/Orders"><i class="fa fa-angle-right mr-2"></i>My Orders</a>
                }
                else
                {
                    <a class="text-primary mb-2" href="/Home"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-primary mb-2" href="/Contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                }
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="font-size: 14px;">
        <div class="col-md-6 text-center text-md-left text-muted">
            &copy; 2025 <strong class="text-light">Hirafeyat</strong>. All Rights Reserved.
        </div>
    </div>
</div>

