<!-- File: Views/Shared/Components/UserProfile/Default.cshtml -->
@model Hirafeyat.ViewModel.Admin.UserProfileViewModel

<div class="text-center">
    <h5>@Model.UserName</h5>
    <img src="@Model.ProfileImage" class="img-thumbnail rounded-circle my-2" style="width: 120px; height: 120px;" />
    <a href="/Profile/ChangeProfilePhoto" class="btn btn-success btn-sm w-100 mb-2">Change Profile Photo</a>
    <a href="/Profile/ChangePersonalInfo" class="btn btn-primary btn-sm w-100 mb-2">Change Personal Info</a>
    <a href="/Profile/ChangePassword" class="btn btn-warning btn-sm w-100 mb-2">Change Password</a>
    <form asp-controller="Account" asp-action="LogOut" method="post" class="w-100">
        <button type="submit" class="btn btn-danger btn-sm w-100">Log Out</button>
    </form>
</div>
