@model Hirafeyat.ViewModel.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style2.css" />
</head>
<body>
    <div class="my-5">
        <section class="sign-in">
            <div class="container-fluid">
                <div class="signin-content">
                    <div class="signin-image mr-0">
                        <figure>
                            <img src="~/images/signin-image.jpg" alt="sign in image" />
                        </figure>
                        <a asp-action="Register" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form asp-action="Login" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <!-- Username -->
                            <div class="form-group">
                                <div class="d-flex align-items-center gap-2">
                                    <i class="zmdi zmdi-account material-icons-name"></i>
                                    <input type="text" asp-for="UserName" id="your_name" placeholder="Your Name" class="form-control" />
                                </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <div class="d-flex align-items-center gap-2">
                                    <i class="zmdi zmdi-lock"></i>
                                    <input type="password" asp-for="Password" id="your_pass" placeholder="Password" class="form-control" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <!-- Remember Me -->
                            <div class="form-group">
                                <div class="d-flex align-items-center gap-2">
                                    <input type="checkbox" asp-for="RememberMe" id="remember-me" class="agree-term" />
                                    <label asp-for="RememberMe" class="label-agree-term">Remember me</label>
                                </div>
                                <span asp-validation-for="RememberMe" class="text-danger"></span>
                            </div>

                            <!-- Forgot Password -->
                            <div class="form-group">
                                <p class="pl-2">
                                    <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                                </p>
                            </div>

                            <!-- Submit Button -->
                            <div class="form-group form-button">
                                <input type="submit" value="Login" class="form-submit" />
                            </div>
                        </form>

                        <!-- Social Login -->
                        <span class="social-label">Or login with</span>
                        <a class="btn btn-danger rounded-circle " style="width:30px; height:30px;" asp-controller="Account" asp-action="ExternalLogin" asp-route-provider="Google">
                            <i class="display-flex-center zmdi zmdi-google"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>