@model Hirafeyat.ViewModel.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <!-- Font Icon -->

    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/css/style2.css" />
</head>
<body>

<hr />
<div class="row">
        <section class="signup">
            <div class="container-fluid">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form form asp-action="Register" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FullName">
                                    <i class="zmdi zmdi-account material-icons-name"></i>
                                </label>
                                <input type="text"
                                       asp-for="FullName"
                                       id="name"
                                       placeholder="Your FullName" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserName">
                                    <i class="fa-regular fa-user"></i>
                                </label>
                                <input asp-for="UserName"
                                       placeholder="Your Name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email"
                                       asp-for="Email"
                                       id="email"
                                       placeholder="Your Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Password"><i class="zmdi zmdi-lock "></i></label>
                                <input type="password"
                                       asp-for="Password"
                                       id="pass"
                                       placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger "></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword">
                                    <i class="zmdi zmdi-lock-outline"></i>
                                </label>
                                <input type="password"
                                       asp-for="ConfirmPassword"
                                       id="re_pass"
                                       placeholder="Repeat your password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger "></span>

                            </div>
                            <div class="form-group">
                                @* <label asp-for="ImageFile" class="control-label"></label> *@
                                <input asp-for="ImageFile" type="file" class="form-control " onchange="previewImage(event)" />
                                <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 200px; display: none;" />
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">
                                    <i class="fa-solid fa-phone" style="color: #000000;"></i>
                                </label>
                                <input asp-for="PhoneNumber" placeholder="PhoneNumber" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address">
                                    <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                                </label>
                                <input asp-for="Address" placeholder="Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="row d-flex align-items-center">
                                <i class="fa-solid fa-circle-user fa-lg col-1" style="color: #000000;"></i>
                            <div class="form-group col-11 ">
                                <label  class="control-label px-3"></label>
                                <select asp-for="Role" class="form-control" id="roleSelect">
                                    <option value="">Select Role</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Seller">Seller</option>
                                    <option value="Customer">Customer</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="form-group my-5" id="brandNameGroup" style="display:none">
                                <label asp-for="BrandName" class="control-label"></label>
                                <input asp-for="BrandName" class="form-control" />
                                <span asp-validation-for="BrandName" class="text-danger"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit"
                                       name="signup"
                                       id="signup"
                                       class="form-submit"
                                       value="Register" />
                            </div>

                        </form>
                    </div>
                    <div class="signup-image">
                        <figure>
                            <img src="~/images/signup-image.jpg" alt="sing up image" />
                        </figure>
                        <a asp-action="Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("roleSelect").addEventListener("change", function () {
            const selectedRole = this.value;
            const brandDiv = document.getElementById("brandNameGroup");
            brandDiv.style.display = selectedRole === "Seller" ? "block" : "none";
        });
             function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.getElementById('imagePreview');
                img.src = reader.result;
                img.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}
</body>
</html>



