@model ForgotPasswordViewModel

<style>
    .btn-custom {
        background-color: #64a5ff;
        color: white;
        transition: background-color 0.3s ease;
        height:60px;
        font-family: 'Poppins', sans-serif;
    }

        .btn-custom:hover {
           
            background-color: #6dabe4;
            color:white;

        }
</style>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    
    <div class="row">
        <div class="col-md-7 d-flex justify-content-center align-items-center">
            <img src="~/img/3293465.jpg" alt="Alternate Text" class="img-fluid" />
        </div>
        <div class="col-md-5">
            <h2 class="my-5" style="font-family: 'Poppins', sans-serif;">Forgot Password?</h2>
           
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Email" class="my-2 "></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn  my-4 btn-custom  ">Send reset link</button>
            </form>
        </div>
        <a asp-action="login">
            <i class="fa-solid fa-circle-arrow-left fa-2xl" style="color: #64a5ff;"></i>
        </a>
    </div>
</div>
