@model ForgotPasswordViewModel

<style>
    .form-submit {
        display: inline-block;
        background: #6dabe4;
        color: #fff;
        border-bottom: none;
        width: auto;
        padding: 15px 39px;

        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        margin-top: 25px;
        cursor: pointer;
    }

        .form-submit:hover {
            background: #4292dc;
        }

  

        }
</style>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    
    <div class="row">
        <div class="col-md-7 d-flex justify-content-center align-items-center">
            <img src="~/img/pngtree-forgot-password-concept-illustration-png-image_9140538.png" alt="Alternate Text" class="img-fluid"  />
        </div>
        <div class="col-md-5">
            <h2 class="my-5" style="font-family: 'Poppins', sans-serif;">Forgot Password?</h2>
           
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Email" class="my-2 "></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="form-submit border-0">Send reset link</button>
            </form>
        </div>
        <a asp-action="login">
            <i class="fa-solid fa-circle-arrow-left fa-2xl " style="color: #6dabe4;"></i>
        </a>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
