@model List<Favorite>
@{
    ViewData["Title"] = "Details";
    // var isSoldOut = Model.Quentity == 0;
    Layout = "~/Views/AdminProducts/_DefaultLayout.cshtml";
}
<partial name="~/Views/Customer/_TopPartialCustomer.cshtml" />

<div class="container-fluid  mb-5" style="background-color:#d19c97;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px ;">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">My Favorites ❤️</h1>

    </div>
</div>
<div class="container">
<div class="row">
    @foreach (var item in Model)
    {
         <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">

                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100 fixed-image" src="@item.Product.ImageUrl" >

                        <!-- زر الفيفورت بشكل مضبوط -->
                   
                    </div>

                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@item.Product.Title</h6>
                        <div class="d-flex justify-content-center">
                            <h6>$@(item.Product.Price - 200)</h6>
                        <h6 class="text-muted ml-2"><del>$@item.Product.Price</del></h6>
                        </div>
                    </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                   
                        <form method="post" asp-area="Customer" asp-controller="Favorite" asp-action="RemoveFromFavourites">
                            <input type="hidden" name="id" value="@item.Product.Id" />
                        <button class="btn btn-outline-danger ">Remove </button>
                    </form>

                    <!-- فورم الإضافة للسلة -->
                    <form method="post" asp-area="Customer" asp-controller="Cart" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@item.Product.Id" />
                        <button class="btn btn-success ">Add to Cart</button>
                    </form>
                    </div>

                    </div>

        </div>

       
    }
  
</div>
    </div>











