
@{
    ViewData["Title"] = "PaymentPay";
}

<h1>PaymentPay</h1>

<form asp-action="Checkout" asp-controller="Payment"  method="post">
    <input type="hidden" name="orderId" value="111" />
    <button type="submit" class="btn btn-primary">
        Test Payment
    </button>
</form>